############################
# GENERALE
############################
*.log
*.tmp
*.temp
*.swp
*.bak
*~

############################
# JAVA / ANDROID
############################
*.class
*.jar
*.war
*.ear
*.iml
*.apk
*.aab


############################
# ARDUINO
############################
*.elf
*.hex
*.bin
*.o

############################
# LTSPICE
############################
*.raw
*.net
*.op.raw
*.fft

############################
# KICAD
############################
*-bak
*.bak
*.gbr
*.drl
*.step
*.stp
*.zip

############################
# EXTRA
############################
*.pyc